.html,
body {
  margin: 0;
  padding: 0;
 
}
.background {
  background-color: #633c36;
  padding: 5px 40px 15px 28px;
  box-sizing: border-box;
  width: calc(1.4 * 500px);
  height: calc(1.4 * 707px);
}

.title {
  color: #312222;
  font-family: "Libre Franklin", sans-serif;
  font-size: calc(1.4 *10em);
  line-height: calc(1.4 *0.8em);
  letter-spacing: calc(1.4 *-9px);
  text-indent: calc(1.4 *-35px);
}

.title2 {
  color: #312222;
  font-family: "Libre Franklin", sans-serif;
  font-size: calc(1.4 *10em);
  line-height: calc(1.4 *0.35em);
  letter-spacing: calc(1.4 *-8.2px);
  text-indent: calc(1.4 *-32px);
}

.red_box {
  color: #312222;
  font-family: "Libre Franklin", sans-serif;
  font-size: calc(1.4 *20px);
  background-color: #b72e2c;
  padding-top: calc(1.4 *230px);
  padding-bottom: calc(1.4 *3px);
  padding-left: calc(1.4 *7px);
  margin-top: calc(1.4* 30px);
}
