.html,
body {
  margin: 0px;
  padding: 0px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.box > div {
  width: 500px;
  height: 500px;
  position: relative;
  background-color: rgb(84, 53, 112);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90px;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.box > div:first-of-type:hover {
  background-color: rgb(99, 92, 126);
  color: white;
  transform: translate(50px, 50px);
  z-index: 10;
  /* margin-left: 100px; */
  /* margin-top: 200px; */
}
.box > div:nth-of-type(2):hover {
  background-color: rgb(99, 92, 126);
  color: white;
  transform: translate(50px, 50px);
  z-index: 10;
  /* margin-left: 100px; */
  /* margin-top: 200px; */
}
